@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,400i,500,600,700,800,900&display=swap");
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon/icomoon.eot?5zozmk");
    src: url("../fonts/icomoon/icomoon.eot?5zozmk#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?5zozmk") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?5zozmk") format("woff"),
    url("../fonts/icomoon/icomoon.svg?5zozmk#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-check:before {
    content: "\e919";
}
.icon-forward:before {
    content: "\e91c";
}
.icon-link:before {
    content: "\e91f";
}
.icon-search:before {
    content: "\e921";
}
.icon-tag:before {
    content: "\e924";
}
.icon-arrow---top:before {
    content: "\e925";
}
.icon-bold:before {
    content: "\e90b";
}
.icon-format-clear:before {
    content: "\e90c";
}
.icon-insert-link:before {
    content: "\e90d";
}
.icon-insert-photo:before {
    content: "\e90e";
}
.icon-italic:before {
    content: "\e90f";
}
.icon-list-bulleted:before {
    content: "\e910";
}
.icon-list-numbered:before {
    content: "\e911";
}
.icon-quote:before {
    content: "\e912";
}
.icon-underline:before {
    content: "\e913";
}
.icon-up:before {
    content: "\e914";
}
.icon-active:before {
    content: "\e915";
}
.icon-default:before {
    content: "\e916";
}
.icon-default1:before {
    content: "\e917";
}
.icon-action:before {
    content: "\e918";
}
.icon-dropdown-up:before {
    content: "\e91a";
}
.icon-filter:before {
    content: "\e91b";
}
.icon-paper-plane:before {
    content: "\e91d";
}
.icon-question:before {
    content: "\e91e";
}
.icon-sort:before {
    content: "\e920";
}
.icon-overview:before {
    content: "\e900";
}
.icon-tickets:before {
    content: "\e901";
}
.icon-ideas:before {
    content: "\e902";
}
.icon-contacts:before {
    content: "\e903";
}
.icon-agents:before {
    content: "\e904";
}
.icon-articles:before {
    content: "\e905";
}
.icon-home:before {
    content: "\e906";
}
.icon-product:before {
    content: "\e907";
}
.icon-factory:before {
    content: "\e908";
}
.icon-a_1-settings:before {
    content: "\e909";
}
.icon-a_2-subscription:before {
    content: "\e90a";
}
.icon-trash:before {
    content: "\e922";
}
.icon-comment:before {
    content: "\e923";
}
.icon-more---vertical:before {
    content: "\e926";
}
.icon-ticket:before {
    content: "\e928";
}
