// Base - Accent
$base: #3751FF;
// Base - Grayscale
$gray-black: #252733;
$gray-default: #9FA2B4;
$gray-light: #C5C7CD;
$gray-divider: #DFE0EB;
// Base - Other
$green-default: #29CC97;
$red-default: #F12B2C;
$sidebar-bg: #363740;

// Color
$color-default: $base;
